In [1]:
import pandas as pd

In [2]:
d1 = pd.DataFrame([[10, 3, 18, 1], [7, 14, 15, 3]])

In [3]:
d1

    0   1   2  3
0  10   3  18  1
1   7  14  15  3

In [6]:
d2 = [d1]
d2

[    0   1   2  3
 0  10   3  18  1
 1   7  14  15  3,     0   1   2  3
 0  10   3  18  1
 1   7  14  15  3,     0   1   2  3
 0  10   3  18  1
 1   7  14  15  3]